*{
    margin:0px;
    padding:0px;

}

body {
    font-family: Helvetica Neue;
    font-size: 14px;
    font-weight: bold;
    color:#333;
}



.container-head {
    background-color: #e6262d;
    display: flex;
    height: 118px;
}

containert-head-group {
    display: flex;
    padding: 0px 15px 0px 400px;
}

.container {
    float: left;
    padding: 0px 15px 0px 400px;
}

.container-text{
    margin:10px 0px;
    
}

p{
    padding-bottom:20px;

}

span{
    color:#fff;
}

.nav-menu {
    display: flex;
    list-style: none;
    padding: 0px 20px;
    list-style: none;
    margin-left: 40px;
    margin-top: 35px;
    font-size: 16px;

}

.nav-menu > li {
    padding: 0px 20px;
    margin-top: auto;
    margin-bottom: 10px;

}




.nav-menu > li > a {
    text-decoration: none;
    color: #fff;
}

.phone {
    margin: 10px 20px;
    text-align: right;
    font-size: 20px;

}

.phone > a {
    display: inline-block;
    text-decoration: none;
    width: 26px;
    height: 26px;
    text-align: center;
}
