body
{
    margin:0px;
    padding:0px;

}

.header-container {
    font-family: Roboto;
    font-weight: 700;
    font-size: 30px;
    color: #161616;
    line-height:116px;
    letter-spacing:0.025em;
    margin-right:100px;
}

.header-container2 {
    font-family: inherit;
    font-weight: 700;
    font-size: 30px;
    color: #161616;
    line-height: 116px;
    letter-spacing: 0.025em;
    margin-left:180px;
}


.body-container-1 {
    background-color: #e9e9e9;
    width: 1170px;
    height: 573px;
    margin: auto;

}

.parrent-header{
    display:flex;
    justify-content:space-around;

}