body
{
    margin:0px;
    padding:0px;

}

.parrent-header {
    display: flex;
    justify-content: space-around;
    gap:40%;
}

.header-container {
    font-family: Roboto;
    font-weight: 700;
    font-size: 30px;
    color: #161616;
    line-height:116px;
    letter-spacing:0.025em;

}



.header-menu {
    font-family: inherit;
    font-weight: 700;
    font-size: 30px;
    color: #161616;
    line-height: 116px;
    letter-spacing: 0.025em;


}


.body-container-1 {
    background-color: #e9e9e9;
    width: 78%;
    height: 573px;
    margin: auto;



}

